@model IEnumerable<Entities.Entities.CompraUsuario>

@{
    ViewData["Title"] = "Minhas Compras";
}

    <link rel="stylesheet" href="~/css/site.css" />
    <div class="row d-flex justify-content-center minhas-compras">
        <div class="bg-white py-4 px-0">

            <h1 class="px-4 mb-5">Minhas compras</h1>
            <h4 class="px-4">Produtos comprados</h4>

            @foreach (var item in Model)
            {
                if (item.ListaProdutos.Any())
                {
                    <div class="table-responsive produtos-comprados p-4">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Imagem</th>
                                    <th>Descrição</th>
                                    <th>Observação</th>
                                    <th>Valor</th>
                                    <th>Quantidade</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var produto in item.ListaProdutos)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => produto.Nome)</td>

                                        <td>
                                            @{
                                                if (!string.IsNullOrWhiteSpace(produto.Url))
                                                {
                                                    <img width="80" height="80" src=@produto.Url />
                                                }
                                            }
                                        </td>

                                        <td>@Html.DisplayFor(modelItem => produto.Descricao)</td>
                                        <td>@Html.DisplayFor(modelItem => produto.Observacao)</td>
                                        <td>@Html.DisplayFor(modelItem => produto.Valor)</td>

                                        <td>@Html.DisplayFor(modelItem => produto.QtdCompra)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.EnderecoCompleto)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => item.EnderecoCompleto)
                            </dd>

                            <dt class="col-sm-2">
                                CEP
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => item.ApplicationUser.CEP)
                            </dd>

                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.QuantidadeProdutos)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => item.QuantidadeProdutos)
                            </dd>

                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.ValorTotal)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => item.ValorTotal)
                            </dd>

                        </dl>
                        <div class="text-end">
                            <a class="btn btn-primary" asp-area="" asp-controller="CompraUsuario" asp-route-id="@item.Id" asp-action="Imprimir">Imprimir Boleto</a>
                        </div>
                    </div>
                }
                else
                {
                    <h3>Nenhuma compra foi realizada até o momento.</h3>
                }
            }
        </div>
    </div>